# set the udev rule , make the device_port be fixed by mrobot
#
KERNELS=="2-1", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="mrobot"
KERNELS=="2-2.1", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="rplidar"
