<launch>

    <!-- 启动MRobot -->
    <include file="$(find mrobot_bringup)/launch/mrobot.launch"/>

    <!-- 建立雷达和基座的相对坐标 -->
    <node pkg="tf" type="static_transform_publisher" name="base2laser" args="0.08 0 0 0 0 0 1 /base_link /laser 50"/>

    <!-- 运行激光雷达驱动 -->
    <include file="$(find mrobot_bringup)/launch/rplidar.launch" />



</launch>
